<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <div id="app">
      <div class="outer">
        <div id="chatbox">
          <div data-bind="foreach: messages">
            <span class="userText">
              <b><span data-bind="text: author"></span></b>
              <span data-bind="text: message, visible: !editMode()"></span>
              <input type="text" data-bind="textInput: message, visible: editMode">
              <button id="edit-mode-btn" data-bind="click: toggleEditMode" class="btn btn-small"><img class="edit-icon" src="{{ url_for('static', filename='img/edit-64.png') }}"></button>
              <button id="edit-btn" data-bind="visible: editMode, click: editMessage" class="btn btn-small"><img class="checkmark-icon" src="{{ url_for('static', filename='img/checkmark-64.png') }}"></button>
              <button id="delete-btn" data-bind="click: deleteMessage" class="btn btn-small"><img class="delete-icon" src="{{ url_for('static', filename='img/delete-64.png') }}"></button><br>
              <small><span data-bind="text: date"></span></small>
            </span>
            </p>
          </div>
        </div>
      </div>
      <div>
        <form id="message-form" data-bind="submit: insertLine">
          <div id="userInput">
            <input id="textInput" type="text" name="message"  data-bind="textInput: message" placeholder="Message">
            <input id="buttonInput" type="submit" class="btn btn-primary" value="Send">
          </div>
        
          <div id="nickname">
            <label for="nickname-select"><b>Nickname</b></label>
            <div class="form-group">
              <select class="form-control form-control-sm" data-bind="options: nicknames, value: selectedNickname, optionsCaption: 'Select name', optionsText: 'author'" name="author" id="nickname-select">
              </select>
            </div>
          </div>
        </form>
        <form id="nickname-form" data-bind="submit: insertNickname">
          <label for="add-name"><b>Add Nickname</b></label>
          <div id="add-name">
            <input type="text" id="nickname-input" data-bind="textInput: newNickname" name="author">
            <button type="submit" class="btn btn-primary"  id="add">Add</button>
          </div>
        </form>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
      function AppViewModel() {
        var self = this;
        self.message = ko.observable();
        self.newNickname = ko.observable();
        self.selectedNickname = ko.observable();
        self.nicknames = ko.observableArray();
        self.messages = ko.observableArray();
        self.showEditMessage = ko.observable(false);

        self.MessageModel = function(m) {
          var mm = this;
          mm.id = ko.observable(m.id);
          mm.message = ko.observable(m.message);
          mm.author = ko.observable(m.author);
          mm.date = ko.observable(m.date);
          mm.editMode = ko.observable(false);

          mm.editMessage = function() {
            $.post("/edit-message", {"id": mm.id(), "message": mm.message(), "author": mm.author()});
            self.loadData();
          }

          mm.toggleEditMode = function() {
            mm.editMode(!mm.editMode());
          }

          mm.deleteMessage = function() {
            $.post("/delete-message", {"id": mm.id() });
            self.loadData();
          }
        }

        self.NicknameModel = function(n) {
          var nm = this;
          nm.author = n.author;
        }

        self.insertLine = function() {
          var message = {"message": self.message(), "author": self.selectedNickname().author };
          var data = "message=" + message.message + "&author=" + message.author;
          $(".outer").scrollTop($("#chatbox").height());
          $.ajax({
            url: '/submit-message',
            data: data,
            type: 'POST',
            success: function(response) {
              self.message("");
              $(".outer").scrollTop($(".outer").height());
              console.log("Message uploaded.");
              self.loadData();
            },
            error: function(error) {
              console.log(error);
            }
          });
        }

        self.insertNickname = function() {
          $.ajax({
            url: '/add-nickname',
            data: $('#nickname-form').serialize(),
            type: 'POST',
            success: function(response) {
              self.newNickname("");
              $.get("/get-nicknames")
              .done(function(data) {
                $.each(data, function(i, val) {
                  var nickname = {
                    "id": val[0],
                    "author": val[1]
                  };
                });
                self.loadData();
              });
              self.loadData();
            },
            error: function(error) {
              console.log(error);
            }
          });
        }

        self.loadData = function() {
          $.get("/get-messages")
          .done(function(data) {
            self.messages.removeAll();
            $.each(data, function(i, val) {
              var id = val[0]
              var message = val[1]
              var date1 = val[2].toString();
              var date2 = date1.substring(0, date1.length - 7);
              var author = val[3] + ": ";
              var message = {
                "id": id,
                "message": message,
                "date": date2,
                "author": author
              };
              self.messages.push(new self.MessageModel(message));
            });
            $(".outer").scrollTop($("#chatbox").height());
          });

          $.get("/get-nicknames")
          .done(function(data) {
            self.nicknames.removeAll();
            $.each(data, function(i, val) {
              var nickname = {
                "id": val[0],
                "author": val[1]
              };
              self.nicknames.push(new self.NicknameModel(nickname));
            });
          });
        }

        self.init = function() {
          self.loadData();
        }

        self.init();
      }

      ko.applyBindings(new AppViewModel(), document.getElementById("app"));
    </script>
  </body>
</html>