<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <div id="app">
      <div class="outer">
        <div id="chatbox">
          <div data-bind="foreach: messages">
            <p class="userText">
              <span>
                <b data-bind="text: author + ': '"></b>
                <span data-bind="text: message, visible: !editMode()"></span>
                <input type="text" data-bind="textInput: message, visible: editMode">
                <button id="edit-btn" data-bind="click: editMessage" class="btn btn-small">Edit</button>
                <button id="delete-btn" data-bind="click: $root.deleteMessage" class="btn btn-small">Delete</button>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div>
        <form id="message-form" data-bind="submit: insertLine">
          <div id="userInput">
            <input id="textInput" type="text" name="message"  data-bind="textInput: message" placeholder="Message">
            <input id="buttonInput" type="submit" class="btn btn-primary" value="Send">
          </div>
        
        
          <div id="nickname">
            <label for="nickname-select">Nickname</label>
            <div class="form-group">
              <select class="form-control form-control-sm" data-bind="options: nicknames, value: selectedNickname, optionsCaption: 'Select name', optionsText: 'author'" name="author" id="nickname-select">
              </select>
            </div>
            
          </div>
        </form>
        <form id="nickname-form" data-bind="submit: insertNickname">
          <label for="add-name"><b>Add Nickname</b></label>
          <div id="add-name">
            <input type="text" id="nickname-input" data-bind="textInput: newNickname" name="nickname">
            <button type="submit" class="btn btn-primary"  id="add">Add</button>
          </div>
        </form>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
      function AppViewModel() {
        var self = this;
        self.message = ko.observable();
        self.newNickname = ko.observable();
        self.selectedNickname = ko.observable();
        self.nicknames = ko.observableArray();
        self.messages = ko.observableArray();
        self.showEditMessage = ko.observable(false);

        self.MessageModel = function(m) {
          var mm = this;
          mm.message = ko.observable(m.message);
          mm.author = ko.observable(m.author);
          mm.editMode = ko.observable(false);

          mm.editMessage = function() {
            mm.editMode(!mm.editMode());
          }
        }

        self.NicknameModel = function(n) {
          var nm = this;
          nm.author = n.author;
        }

        self.insertLine = function() {
          var message = {"message": self.message(), "author": self.selectedNickname()}
          self.messages.push(new self.MessageModel(message));
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.ajax({
            url: '/submit-message',
            data: $('#message-form').serialize(),
            type: 'POST',
            success: function(response) {
              self.message("");
              $("#chatbox").scrollTop($("#chatbox").height());
              console.log("Message uploaded.");
            },
            error: function(error) {
              console.log(error);
            }
          });
        }

        self.insertNickname = function() {
          $.ajax({
            url: '/add-nickname',
            data: $('#nickname-form').serialize(),
            type: 'POST',
            success: function(response) {
              self.newNickname("");
              $.get("/get-nicknames")
              .done(function(data) {
                console.log(data);
                $.each(data, function(i, val) {
                  var nickname = {
                    "id": val[0],
                    "author": val[1]
                  };
                  self.nicknames.push(new self.NicknameModel(nickname));
                });
              });
            },
            error: function(error) {
              console.log(error);
            }
          });
        }

        self.loadData = function() {
          $.get("/get-messages")
          .done(function(data) {
            console.log(data);
            $.each(data, function(i, val) {
              console.log(data);
              var message = {
                "id": val[0],
                "message": val[1],
                "date": val[2],
                "author": val[3]
              };

              self.messages.push(new self.MessageModel(message));
            });
          });

          $.get("/get-nicknames")
          .done(function(data) {
            console.log(data);
            $.each(data, function(i, val) {
              var nickname = {
                "id": val[0],
                "author": val[1]
              };
              self.nicknames.push(new self.NicknameModel(nickname));
            });
          });
        }

        self.init = function() {
          self.loadData();
          $("#chatbox").scrollTop($("#chatbox").height());
        }

        self.init();
      }

      ko.applyBindings(new AppViewModel(), document.getElementById("app"));

      $("#add").on("click", function () {
        var name = $("#nickname-input").val();
        
        insertNickname(name);
      });
    </script>
  </body>
</html>